# Common snippets for languages that use braces

snippet ({ "Object in parentheses" i
({
	$1
});
endsnippet

snippet { "Opening / closing braces"
{
	$1
}
endsnippet

snippet {) "Opening / closing braces with parenthese"
{
	$1
});$0
endsnippet
