[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = git@github.com:mileszs/ack.vim.git
[submodule "bundle/sparkup"]
	path = bundle/sparkup
	url = git@github.com:rstacruz/sparkup.git
[submodule "bundle/vim-jsx"]
	path = bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "bundle/tcomment_vim"]
	path = bundle/tcomment_vim
	url = git@github.com:tomtom/tcomment_vim.git
[submodule "bundle/vim-stylus"]
	path = bundle/vim-stylus
	url = git@github.com:wavded/vim-stylus.git
[submodule "bundle/phpcomplete.vim"]
	path = bundle/phpcomplete.vim
	url = git@github.com:shawncplus/phpcomplete.vim.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "bundle/vim-wordmotion"]
	path = bundle/vim-wordmotion
	url = git@github.com:chaoren/vim-wordmotion.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = git@github.com:tpope/vim-unimpaired.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/vim-indent-object"]
	path = bundle/vim-indent-object
	url = git@github.com:michaeljsmith/vim-indent-object.git
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = https://github.com/xolox/vim-misc
[submodule "bundle/vim-notes"]
	path = bundle/vim-notes
	url = git@github.com:nicocrm/vim-notes.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git
[submodule "bundle/vim-cjsx"]
	path = bundle/vim-cjsx
	url = git@github.com:mtscout6/vim-cjsx.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/vim-windowswap"]
	path = bundle/vim-windowswap
	url = https://github.com/wesQ3/vim-windowswap
[submodule "bundle/vim-session"]
	path = bundle/vim-session
	url = git@github.com:xolox/vim-session.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/command-t.git
[submodule "bundle/vim-filebeagle"]
	path = bundle/vim-filebeagle
	url = git@github.com:jeetsukumaran/vim-filebeagle.git
[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = git@github.com:Raimondi/delimitMate.git
[submodule "bundle/better-indent-support-for-php-with-html"]
	path = bundle/better-indent-support-for-php-with-html
	url = git@github.com:captbaritone/better-indent-support-for-php-with-html.git
